@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);


.nav-button {
  font-family: 'Noto Sans KR', sans-serif;
}

.btn-kakao {
  background-color: #ffee33;
  border-color: #ffee33;
  color: black;
}

.btn-naver {
  background-color: #1ec545;
  border-color: #1ec545;
  color: white;
}

.profile-image {
  width: 90%;
}

.app {
  text-align: center;
  font-family: 'Nanum Myeongjo';
  /*font-family: 'Noto Sans KR', sans-serif;*/
  word-wrap: break-word;
  word-break: keep-all;
}

.app-header {
  background-color: #222;
  height: 80px;
  color: white;
  font-family: 'Lobster'
}

.app-footer {
  background-color: #f5f5f5;
  height: 50px;
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
}

.app-fluid {
  padding-left: 0;
  padding-right: 0;
}
